
<!-- SLIDER IMAGE DETAIL -->
<!-- RECENT PROPERTY -->
<div class="slider__property bg-light">

    <div class="slider__property-carousel-opacity owl-carousel owl-theme">
        <div class="item">
            <a href="#">
                <img src="../../../assets/img/8.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="../../../assets/img/7.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="../../../assets/img/9.jpg" alt="" class="img-fluid">
            </a>
        </div>


    </div>

</div>
<div class="single__detail-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-8">
                <div class="single__detail-area-title">
                    <h3 class="text-capitalize">{{post.tieuDe}}</h3>
                    <p> {{post.diaChiChitiet}}</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-4">
                <div class="single__detail-area-price">
                    <h4 class="text-capitalize text-gray">{{post.mucGia}} {{post.donViGia}}</h4>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="badge badge-primary p-2 rounded"  title="Lưu"><i class="fa fa-heart"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END RECENT PROPERTY -->
<!-- END SLIDER IMAGE DETAIL -->

<!-- SINGLE DETAIL -->
<section class="single__Detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- DESCRIPTION -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single__detail-desc">
                            <h5 class="text-capitalize detail-heading mt-0">Mô tả</h5>
                            <div class="show__more">
                                {{post.moTa}}
                                <a href="javascript:void(0)" class="show__more-button ">Đọc thêm</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <!-- PROPERTY DETAILS SPEC -->
                        <div class="single__detail-features">
                            <h5 class="text-capitalize detail-heading">property details</h5>
                            <!-- INFO PROPERTY DETAIL -->
                            <div class="property__detail-info">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>Property ID:</b> RV151</li>
                                            <li><b>Price:</b> $484,400</li>
                                            <li><b>Property Size:</b> 1466 Sq Ft</li>
                                            <li><b>Bedrooms:</b> 4</li>
                                            <li><b>Bathrooms:</b> 2</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>Garage:</b> 1</li>
                                            <li><b>Garage Size:</b> 458 SqFt</li>
                                            <li><b>Year Built:</b> 2019-01-09</li>
                                            <li><b>Property Type:</b> Full Family Home</li>
                                            <li><b>Property Status:</b> For rent</li>
                                        </ul>
                                    </div>
                                </div>
                                <h6 class="text-primary">Additional details</h6>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>Property ID:</b> RV151</li>
                                            <li><b>Price:</b> $484,400</li>
                                            <li><b>Property Size:</b> 1466 Sq Ft</li>
                                            <li><b>Bedrooms:</b> 4</li>
                                            <li><b>Bathrooms:</b> 2</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="property__detail-info-list list-unstyled">
                                            <li><b>Garage:</b> 1</li>
                                            <li><b>Garage Size:</b> 458 SqFt</li>
                                            <li><b>Year Built:</b> 2019-01-09</li>
                                            <li><b>Property Type:</b> Full Family Home</li>
                                            <li><b>Property Status:</b> For rent</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!-- END INFO PROPERTY DETAIL -->
                        </div>
                        <!-- END PROPERTY DETAILS SPEC -->
                        <div class="clearfix"></div>

                        
                    </div>
                </div>
                <!-- END DESCRIPTION -->
            </div>
            <div class="col-lg-4">
                <div class="sticky-top">
                    <!-- PROFILE AGENT -->
                    <div class="profile__agent mb-30">
                        <div class="profile__agent__group">
                            <h4>Liên hệ</h4>
                            <div class="profile__agent__header">
                                <div class="profile__agent__header-avatar">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <h5 class="text-capitalize">{{post.tenLienHe}}</h5>
                                        </li>
                                        <li><a href="tel:{{post.sdt}}"><i
                                                    class="fa fa-phone-square mr-1"></i>{{post.sdt}}</a></li>
                                        <li><i class=" fa fa-envelope-open mr-1"></i>
                                                {{post.email}}
                                        </li>
                                        <li> <i class="fa fa-map-marker">  {{post.diaChiLienHe}}</i>
                                        </li>
                                    </ul>


                                </div>

                            </div>
                           
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- SIMILIAR PROPERTY -->
        <div class="row">
            <div class="col-lg-12">
                <div class="similiar__item">
                    <h6 class="text-capitalize detail-heading">
                        Bài đăng tương tự
                    </h6>
                    <div class="similiar__property-carousel owl-carousel owl-theme">
                        <div class="item">
                            <!-- ONE -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/1.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">vila in coral gables</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <!-- TWO -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/2.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">Ample Apartment At Last Floor</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <!-- THREE -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/3.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">Contemporary Apartment</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <!-- FOUR -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/4.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">Family Home For Sale</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <!-- FIVE -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/5.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">184 Lexington Avenue</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <!-- SIX -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/6.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">Luxury Villa With Pool</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/7.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">The Citizen Apartment 5th Floor</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson <br>
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <!-- SEVEN -->
                            <div class="card__image">
                                <div class="card__image-header h-250">
                                    <div class="ribbon text-capitalize">featured</div>
                                    <img src="../../../assets/img/8.jpg" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h6 class="text-capitalize">
                                        <a href="#">Family Home For Sale</a>
                                    </h6>

                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                    <ul class="list-inline card__content">
                                        <li class="list-inline-item">

                                            <span>
                                                baths <br>
                                                <i class="fa fa-bath"></i> 2
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                beds <br>
                                                <i class="fa fa-bed"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                rooms <br>
                                                <i class="fa fa-inbox"></i> 3
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                area <br>
                                                <i class="fa fa-map"></i> 4300 sq ft
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                tom wilson
                                            </a>

                                        </li>

                                    </ul>
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item">

                                            <h6 class="text-primary">$350.000</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END SIMILIAR PROPERTY -->

    </div>
</section>
<!-- END SINGLE DETAIL -->


