<div class="row no-gutters">
    <div class="post-bg-Title mgt10">
        <h1>Đăng tin rao bán, cho thuê nhà đất</h1>
        <div>
            <span class="post-bg-Title2">(Quý vị nhập thông tin nhà đất cần bán hoặc cho thuê vào các mục dưới đây)</span>
        </div>
    </div>
    <div class="rowHeader">
        <h2>Thông tin cơ bản</h2>
    </div>
    <div class="rowContent">
        <div class="rowPost">
            <label>Tiêu đề <span>(*)</span>:</label>
            <input type="text" pInputText class="p-inputtext-sm">         
            <span style="font-size: 13px;"> 99</span>
        </div>
        <div class="postrow">
            <div class="base1">
                <label>Hình thức <span>(*)</span>:</label>
            </div>
            <div class="base2">
                <input type="text" pInputText class="p-inputtext-sm1">
                <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCityCode" optionLabel="name" optionValue="code"></p-dropdown> -->
                <input type="text" [(ngModel)]="myValue">
                <label for="">{{myValue}}</label>
            </div>
            <div class="base1">
                <label>Loại <span>(*)</span>:</label>
            </div>
            <div class="base4">
                <input type="text" pInputText class="p-inputtext-sm1">
            </div>
        </div>
        <div class="postrow">
            <div class="base1">
                <label>Tỉnh/Thành phố <span>(*)</span>:</label>
            </div>
            <div class="base2">
                <input type="text" pInputText class="p-inputtext-sm1">
            </div>
            <div class="base1">
                <label>Quận/Huyện <span>(*)</span>:</label>
            </div>
            <div class="base4">
                <input type="text" pInputText class="p-inputtext-sm1">
            </div>
        </div>
        <div class="postrow">
            <div class="base1">
                <label>Phường/Xã <span>(*)</span>:</label>
            </div>
            <div class="base2">
                <input type="text" pInputText class="p-inputtext-sm1">
            </div>
            <div class="base1">
                <label>Diện tích <span>(*)</span>:</label>
            </div>
            <div class="base4">
                <input type="text" pInputText class="p-inputtext-sm1">
            </div>
        </div>
        <div class="postrow">
            <div class="base1">
                <label>Giá <span>(*)</span>:</label>
            </div>
            <div class="base2">
                <input type="text" pInputText class="p-inputtext-sm1">
            </div>
            <div class="base1">
                <label>Đơn vị <span>(*)</span>:</label>
            </div>
            <div class="base4">
                <input type="text" pInputText class="p-inputtext-sm1">
            </div>
        </div>
        <div class="postrow">
            <div class="base1">
                <label>Địa chỉ :</label>
            </div>
            <div class="base3">
                <input type="text" pInputText class="p-inputtext-sm2">
            </div>
        </div>
    </div>

</div>