<div class="wrap-notfound bg-theme-v8 full-height" style="background-image: url('../../../assets/img/bg.jpg');">
    <div class="container h-100 ">
        <div class="row align-items-center h-100">
            <div class="col mx-auto">
                <div class="notfound-page ">
                    <h1>
                        404
                    </h1>
                    <p>
                        Không tìm thấy trang!
                        <br />
                        <span>
                            Xin lỗi, nhưng trang bạn đang cố xem không tồn tại.
                        </span>
                        <br />
                    </p>
                    <div class="mt20">
                        <a class="btn btn-primary" href="/">
                            <i class="fa fa-reply">
                            </i>
                            Trở về trang chủ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>