.rowHeader {
    width: 100%;
    background-color: #200985;
    margin: 0;
    padding: 0 0 0 5px;
    height: 40px;
}

.rowHeader h2 {
    color: white;
    margin-left: 10px;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Calibri;
}

.rowContent {
    width: 100%;
    margin-bottom: 20px;
    clear: both;
    border: 1px solid #999;
    text-rendering: optimizeLegibility;
}

table {
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}

table td {
    border: 1px solid black;
    font-size: 14px;
    padding: 10px;
}

.left {
    margin-left: 10px;
    width: 30%;
    font-weight: bold;
}

.notes {
    padding: 15px 0;
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
    text-align: justify;
}